<%- include('../_layouts/adminheader') %>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">

            <div class="panel-body">
     <% if (count > 0) { %>
           
                <div class="row">
                    <div class="col-sm-6">
                        <div class="m-b-30">
                            <a href="/admin/products/add-product" id="addToTable" class="btn btn-success waves-effect waves-light">Add New Product <i class="mdi mdi-plus-circle-outline"></i></a>
                        </div>
                    </div>
                </div>

                <div class="">
               
                    <table class="table table-striped add-edit-table table-bordered" id="datatable-editable">
                        <thead>
                            <tr class="home">
                                <th>Products</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Product Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <% products.forEach(product => { %>
                                <tr>
                                    <td><%= product.title %> </td>
                                    <td>$<%= parseFloat(product.price).toFixed(2) %> </td>
                                    <td><%= product.category %> </td>
                                    <td>
                                        <% if (product.image == "") { %>
                                            <img height="50px" src="/img/noimage.png">
                                        <% } else { %>
                                            <img height="50px" src="/product_images/<%= product._id %>/<%= product.image %>">
                                        <% }  %>
                                    </td>
                                    
                                    <td class="actions">
                                        <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                        <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                        <a href="/admin/products/edit-product/<%= product._id %>" class="on-default edit-row"><i class="fa fa-pencil"></i> Edit</a>
                                        <a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>" class="on-default remove-row"><i class="fa fa-trash-o"></i> Delete</a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                
                </div>
            </div>
            <!-- end: page -->

     <% } else { %>
        <div class="col-sm-12 text-center">

            <div class="wrapper-page">
                <img src="assets/images/animat-search-color.gif" alt="" height="120">
                <h2 class="text-uppercase text-warning">There are no product found!</h2>
                <a class="btn btn-success waves-effect waves-light m-t-20" href="/admin/products/add-product"> Add New Product</a>
            </div>
        </div>
     <% } %>
        </div> <!-- end Panel -->
    </div>
</div>

<%- include('../_layouts/adminfooter') %>
